@font-face {
    font-family: 'coalitionregular';
    src: url('../fonts/coalition-webfont.woff2') format('woff2'),
         url('../fonts/coalition-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
html, body{
	height: 100%;
}
#landingPageBG {
    height: 100% ; 
    background-image: url(../images/pixlfest_location.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	position: relative;
	width: 100%;
}
#sidebar{
	background-color: rgba(0,0,0,.5);
	height: 100%;
	position: fixed;
	width: 25%;
}
/* <main> styles -- Quinn */
main {
	background-color: rgba(0,0,0,.5);
	height: 100%;
	position: relative;
	width: 75%;
	float: right;
}
main > section {
	margin: 10% 2% 2% 0%;
	padding: 2%;
	background-color: rgba(105,37,65,.65);
}
section > p > a {
	text-decoration: none;
}
section > p > a,
section > p > a:visited {
	color: #1C93C3;
}
section > p > a:hover {
	color: #999;
}
section > h1,
section > h2,
section > h3,
section > h4,
section > h5,
section > h6 {
	font-size: 1.7em;
	margin: 10px 0px;
}
section > p {
	font-size: 1.2em;
}
section > h1,
section > h2,
section > h3,
section > h4,
section > h5,
section > h6,
section > p {
	color: rgb(205,205,205);
	text-shadow: 0px 0px 3px rgba(0,0,0,.5), -1px -1px 0px rgba(0,0,0,.5), 1px 1px 0px rgba(0,0,0,.5);
	font-family: coalitionregular; 
}
/* end <main> styles -- Quinn */
	#landingPageBG > #sidebar > h1{
		color: #1C93C3;
		font-family: 'coalitionregular';
		font-size: 1em;
		line-height: 1.2em;
		margin-bottom: 50px;
		text-align: center;
		
	
	}
.active{
	color: #1C93C3;
}
#logo{
	margin: 10px 0;
	max-height: 100%;
	max-width: 100%;
}
nav{
	text-align: center;
	
}
		nav > ul > li{
			margin: 20px;
		}
				
				nav > ul > li > a{
					color: #999;
					font-family: coalitionregular;
					font-size: 2em;
					letter-spacing: 2.1px;
					text-decoration: none;
				}
					nav > ul > li > a:hover{
						color: #1C93C3;
					}
#landingPageBG > h2{
	color: #fff;
	font-family: 'coalitionregular';
	font-size: 1.2em;
	position: absolute;
	letter-spacing: .3em;
	right: 15px;
	top: 69%;
	text-align: center;
	width: 45%;
}
	#landingPageBG > h2 > span{
		color: #1C93C3;
		font-size: 1.5em;
	}


/* 1200px Break */
@media only screen and (max-width: 1200px) {
    nav > ul > li > a {
        font-size: 1em;
    }
	#landingPageBG > #sidebar > h1{
		font-size: .75em
	}
}

/* 700px Break */
@media only screen and (max-width: 700px) {
    nav > ul > li > a {
        font-size: .6em;
    }
	#landingPageBG > #sidebar > h1{
		font-size: .5em
	}
}